
 <nav class="navbar navbar-default navbar-bottom hidden-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-footer">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-footer">
            <div class="row">
                <div class="col-md-4">
                    <div class="socialIcons">
                         <img src="assets/images/iconFacebook.png" width="26" height="26">
                        <img src="assets/images/iconSteam.png" width="26" height="26">
                        <img src="assets/images/iconYoutube.png" width="26" height="26">
                        <img src="assets/images/iconInstagram.png" width="26" height="26">
                        <img src="assets/images/iconPlus.png" width="26" height="26">
                        <img src="assets/images/iconTwitter.png" width="26" height="26">
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-menu-footer">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Novidades</a></li>
                            <li><a href="#">Agente Autorizado</a></li>
                            <li><a href="#">Sobre Nós</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="" placeholder="Digite seu email..." />
                                </div>
                                <button type="submit" class="btn btn-default btn-dark"> NEWSLETTER</button>
                                <button type="submit" class="btn btn-primary"> REGISTRE-SE</button>
                            </form>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"> <a class="navbar-brand" href="#">Todos os direitos reservados para FIVe SPORTS @2017</a></div>
                <div class="col-md-6">
                    <img src="assets/images/payments-cards.png" class="pull-right" />
                </div>
            </div>
        </div>
    </nav>
