    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header margin-right50p">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fiveSportCollapseBar">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">
              <img src="assets/images/logo111.png" class="img-responsive" alt="Five Sports Logo Image">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="fiveSportCollapseBar">
            <ul class="nav navbar-nav">
              <li><a ng-href="#">Home</a></li>
              <li><a ng-href="#">Agente Autorizado</a></li>
              <li><a ng-href="#">Sobre Nós</a></li>
              <li><a ng-href="#">Treinamento</a></li>
              <li><a ng-href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="no-link-menu hidden-xs">
                    <div class="socialIcons">
                        <img src="assets/images/iconFacebook.png" width="26" height="26">
                        <img src="assets/images/iconSteam.png" width="26" height="26">
                        <img src="assets/images/iconYoutube.png" width="26" height="26">
                        <img src="assets/images/iconInstagram.png" width="26" height="26">
                        <img src="assets/images/iconPlus.png" width="26" height="26">
                        <img src="assets/images/iconTwitter.png" width="26" height="26">
                    </div>
                </li>
                <li class="no-link-menu">
                    <button id="modal-598688" class="btn btn-default btn-topmenu" href="#modal-Login" role="button" data-toggle="modal">Login</button>
                    <button id="modal-598688" class="btn btn-primary btn-topmenu" href="#modal-registro" role="button" data-toggle="modal">Registrar-se</button>
                    <!-- <button id="" class="btn btn-primary btn-topmenu" onclick="javascript:location.href='registrar.html'" role="button">Registrar</button> -->
                </li>
            </ul>
        </div>
    </nav>
