.navbar-inverse {
    height: 60px;
    background-color: #757577;
    padding-left: 50px;
    padding-right: 50px !important;
    box-shadow: 4px -1px 9px 1px #000000;
    font-family: 'impactregular', Arial Black, "sans serif";
    font-weight: normal;
    border-radius: 0px;
    border: 0px;
}
.navbar-inverse ul li a {
    line-height: 20px;
    font-size: 16px;
    font-family: 'Impact', Arial Black, "sans serif";
    color: #FFFFFF!important;
    font-weight: 100;
}
.navbar-inverse .nav>li { padding: 3px;  }
.navbar-inverse .nav>li:hover {padding: 3px;}
.navbar-inverse .nav>li:hover {
    color: #fff;
    background-color: #FFFFFF;
    border-bottom: 4px solid #2693FF;
    background: rgba(255, 255, 255, 0.23);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-right >li.no-link-menu:hover{
    background: transparent!important;
    border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FFFFFF;
    border-bottom: 3px solid #137ee8;
    background: rgba(255, 255, 255, 0.23);
}
.navbar-bottom {
    width: 100%;
    min-height: 200px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: #757577;
}
.navbar-bottom .navbar-brand {font-size: 11px; color: #FFFFFF;}
.navbar-brand img {margin-top: -10px;}
.navbar-menu-footer {
    font-family: 'Impact', Arial Black, "sans serif";
    border-radius: 0px;
    padding:0px 6px;
    background-color: #BBBBBB;
    border: 0px;
}
.navbar-menu-footer a {
    color: rgba(0, 0, 0, 1)!important;
    font-size: 16px;
    font-weight: normal;
}
.navbar-menu-footer input {
    border-radius: 0px;
    width: 300px;
    height: 45px;
    margin-right: 10px;
    background-color: #333333;
    color: rgb(255, 255, 255)!important;
    border: 0px;
    padding: 6px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 1)!important;
    text-decoration: underline;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255)!important;
    background-color: transparent;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .navbar-collapse {
    background: #757577!important;
    text-align: right;
    z-index: -2;
    }
    .navbar-brand img {margin-top: -10px; width: 60%;}
}