<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" alt="Bootstrap Image Preview" src="assets/images/postsBloco/imgPost01.jpg" />
        <h4 class="fontImpact">Título Curto do Bloco.</h4>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien
          sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
          vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere
          diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
        </p>
        <button type="button" class="btn btn-primary">Saiba mais...</button>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" alt="Bootstrap Image Preview" src="assets/images/postsBloco/imgPost02.jpg" />
        <h4 class="fontImpact">Título Curto do Bloco.</h4>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien
          sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
          vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere
          diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
        </p>
        <button href="#" type="button" class="btn btn-primary">Saiba mais...</button>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" alt="Bootstrap Image Preview" src="assets/images/postsBloco/imgPost03.jpg" />
        <h4 class="fontImpact">Título Curto do Bloco</h4>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien
          sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
          vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere
          diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
        </p>
        <button type="button" class="btn btn-primary btn-default">Saiba mais...</button>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" alt="Bootstrap Image Preview" src="assets/images/postsBloco/imgPost04.jpg" />
        <h4 class="fontImpact">Título Curto do Bloco</h4>
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien
          sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
          vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere
          diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
        </p>
        <button type="button" class="btn btn-primary">Saiba mais...</button>
      </div>
    </div>
  </div>
</div>
