<div class="container min-height">
  <h2>Agentes Autorizados</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nome Autorizada</th>
      <th class="hidden-xs">Endereço Revenda</th>
      <th class="hidden-xs">Telefone Revenda</th>
      <th class="hidden-xs">Email Revenda</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="autorizado in vm.listaAgenteAutorizado">
      <td>{{autorizado.parDescricao}}</td>
      <td class="hidden-xs">{{autorizado.paeLogradouro}}</td>
      <td class="hidden-xs">{{autorizado.pafNumero}}</td>
      <td class="hidden-xs"><a href="{{autorizado.paeDescricao}}">{{autorizado.paeDescricao}}</a></td>
    </tr>
    </tbody>
  </table>

</div>
