<div class="container min-height">
  <h2>Agentes Autorizados</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nome Autorizada</th>
      <th class="hidden-xs">Endereço Revenda</th>
      <th class="hidden-xs">Telefone Revenda</th>
      <th class="hidden-xs">Email Revenda</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Nome Autorizada</td>
      <td class="hidden-xs">Rua da Revenda, Bairro revenda, número</td>
      <td class="hidden-xs">(XXX)-XXXX-XXXX</td>
      <td class="hidden-xs"><a href="mailto:emailrevenda@revenda.com.br">emailrevenda@revenda.com.br</a></td>
    </tr>
    <tr>
      <td>Nome Autorizada</td>
      <td class="hidden-xs">Rua da Revenda, Bairro revenda, número</td>
      <td class="hidden-xs">(XXX)-XXXX-XXXX</td>
      <td class="hidden-xs"><a href="mailto:emailrevenda@revenda.com.br">emailrevenda@revenda.com.br</a></td>
    </tr>
    <tr>
      <td>Nome Autorizada</td>
      <td class="hidden-xs">Rua da Revenda, Bairro revenda, número</td>
      <td class="hidden-xs">(XXX)-XXXX-XXXX</td>
      <td class="hidden-xs"><a href="mailto:emailrevenda@revenda.com.br">emailrevenda@revenda.com.br</a></td>
    </tr>
    </tbody>
  </table>

</div>
