{{vm.novidades}}
<div class="row">
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-4" ng-repeat="novidade in vm.novidades">
            <img class="img-responsive margintop25" alt="Primeira Imagem de post FiveSports" ng-src="{{novidade.img}}" />
        </div>
        <div class="col-md-8">
            <h3>{{novidade.titulo}}</h3>
            <p>{{novidade.texto}}</p>
            <button type="button" class="btn btn-primary">Saiba mais...</button>
        </div>
    </div>
  </div>
</div>
