        <div class="row hidden-xs">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Videos Tutoriais</h3>
                <!--CAROUSEL-->
                <div id="CarouselYoutube" class="carousel slide">
                    <!--<ol class="carousel-indicators">
                                <li data-target="#CarouselYoutube" data-slide-to="0" class="active"></li>
                                <li data-target="#CarouselYoutube" data-slide-to="1"></li>
                                <li data-target="#CarouselYoutube" data-slide-to="2"></li>
                            </ol>-->
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row padding0">
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/sOezc6CNpDw" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/K8jYszHACMY" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/8xBpGE1r5YU" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/zi4lvd6AsPc" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="item">
                            <div class="row padding0">
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/m61tiwEQRmA" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/oUpZ7DEjQP0" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/bGzDJFsb30s" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/TJ01vPGVQYQ" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="item">
                            <div class="row padding0">
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/q5CWqwkpFIw" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/EztUMDv3vys" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/OD-y5jaLqfs" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                                <div class="col-md-3 padding0">
                                    <a href="#" class="thumbnail thumbnail-youtube">
                                      <iframe width="444" height="250" src="https://www.youtube.com/embed/c41v28knCUI" frameborder="0" allowfullscreen></iframe>
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#CarouselYoutube" class="left carousel-control transicao">‹</a>
                    <a data-slide="next" href="#CarouselYoutube" class="right carousel-control transicao">›</a>
                </div>
                <!--.Carousel-->
            </div>
            <div class="col-md-1"></div>
        </div>
