<div class="container-fluid mtop-16">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9">
                <div id="carousel-slide" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="container container-slides">
                            <!-- PRIMEIRO ITEM SLIDE -->
                            <div class="item active col-md-12 padding0">
                                <div alt="Primeiro Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide1.png" class="img-responsive slide01">
                                    <div class="carousel-caption">
                                        <h3> First Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Segundo Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide2.png" class="img-responsive slide02">
                                    <div class="carousel-caption">
                                        <h3>Second Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Terceiro Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide4.png" class="img-responsive slide04">
                                    <div class="carousel-caption">
                                        <h3> Third Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Quarto Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide3.png" class="img-responsive slide03">
                                    <div class="carousel-caption">
                                        <h3> Third Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- SEGUNDO ITEM SLIDE -->
                            <div class="item col-md-12 padding0">
                                <div alt="Quinto Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide2.png" class="img-responsive slide01">
                                    <div class="carousel-caption">
                                        <h3> First Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Sexto Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide1.png" class="img-responsive slide02">
                                    <div class="carousel-caption">
                                        <h3>Second Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Setimo Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide3.png" class="img-responsive slide04">
                                    <div class="carousel-caption">
                                        <h3> Third Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                                <div alt="Oitavo Slide FiveSports" class="">
                                    <img src="assets/images/slides/slide4.png" class="img-responsive slide03">
                                    <div class="carousel-caption">
                                        <h3> Third Thumbnail label</h3>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                                            dolor id nibh ultricies vehicula ut id elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control carousel-control-slide" href="#carousel-slide" data-slide="prev"><i class="glyphicon glyphicon-menu-left"></i></a>
                        <a class="right carousel-control carousel-control-slide" href="#carousel-slide" data-slide="next"><i class="glyphicon glyphicon-menu-right"></i></a>
                    </div>
                </div>
            </div>
            <!--CONFIGURADORES-->
            <div class=" col-md-3">
                <button class="btn btn-default btn-lg btn-block btn-configurador">
                            <img src="assets/images/imgConfigurador/img-conf01.png" class="img-responsive margintop15p">
                        <div class="label fontImpact font24"> Configurador</div>
                    </button>
                <button class="btn btn-default btn-lg btn-block btn-configurador hidden-xs">
                            <img src="assets/images/imgConfigurador/img-conf02.png" class="img-responsive margintop15p">
                            <div class="label fontImpact font24"> Configurador</div>
                    </button>
            </div>
        </div>
    </div>
</div>