<div class="container-fluid mtop-16">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-md-9 col-xs-12">
        <div id="carousel-slide" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner container container-slides" role="listbox" data="topSlides">
            <div class="item active">
              <div class="item active col-md-12 padding0">
                <div alt="Primeiro Slide FiveSports">
                  <img src="assets/images/slides/slide1.png" class="img-responsive slide01">
                  <div class="carousel-caption">
                    <h3>{{topSlides[0].titleSlide}}</h3>
                    <p>{{topSlides[0].textSlide}}</p>
                  </div>
                </div>
                <div alt="Segundo Slide FiveSports" class="hidden-xs">
                  <img src="assets/images/slides/slide2.png" class="img-responsive slide02">
                  <div class="carousel-caption">
                    <h3>{{topSlides[1].titleSlide}}</h3>
                    <p>{{topSlides[1].textSlide}}</p>
                  </div>
                </div>
                <div alt="Terceiro Slide FiveSports" class="hidden-xs">
                  <img src="assets/images/slides/slide4.png" class="img-responsive slide04">
                  <div class="carousel-caption">
                    <h3>{{topSlides[2].titleSlide}}</h3>
                    <p>{{topSlides[2].textSlide}}</p>
                  </div>
                </div>
                <div alt="Quarto Slide FiveSports" class="hidden-xs">
                  <img src="assets/images/slides/slide3.png" class="img-responsive slide03">
                  <div class="carousel-caption">
                    <h3>{{topSlides[3].titleSlide}}</h3>
                    <p>{{topSlides[3].textSlide}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item col-md-12 padding0 hidden-xs">
              <div alt="Quinto Slide FiveSports" class="">
                <img src="assets/images/slides/slide1.png" class="img-responsive slide01">
                <div class="carousel-caption">
                  <h3>{{topSlides[4].titleSlide}}</h3>
                  <p>{{topSlides[4].textSlide}}</p>
                </div>
              </div>
              <div alt="Sexto Slide FiveSports" class="">
                <img src="assets/images/slides/slide2.png" class="img-responsive slide02">
                <div class="carousel-caption">
                  <h3>{{topSlides[5].titleSlide}}</h3>
                  <p>{{topSlides[5].textSlide}}</p>
                </div>
              </div>
              <div alt="Sétimo Slide FiveSports" class="">
                <img src="assets/images/slides/slide4.png" class="img-responsive slide04">
                <div class="carousel-caption">
                  <h3>{{topSlides[6].titleSlide}}</h3>
                  <p>{{topSlides[6].textSlide}}</p>
                </div>
              </div>
              <div alt="Oitavo Slide FiveSports" class="">
                <img src="assets/images/slides/slide3.png" class="img-responsive slide03">
                <div class="carousel-caption">
                  <h3>{{topSlides[7].titleSlide}}</h3>
                  <p>{{topSlides[7].textSlide}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-arrows hidden-xs hidden-sm" style="background-image: none;">
          <!-- Left and right controls -->
          <a class="left carousel-control carousel-control-slide" href="#carousel-slide" data-slide="prev">
            <i class="glyphicon glyphicon-menu-left"></i>
          </a>
          <a class="right carousel-control carousel-control-slide" href="#carousel-slide" data-slide="next">
            <i class="glyphicon glyphicon-menu-right"></i>
          </a>
        </div>
      </div>
      <!--CONFIGURADORES-->
      <div class="col-md-3 hidden-xs hidden-sm">
            <button class="btn btn-default btn-lg btn-block btn-configurador">
                    <img src="assets/images/imgConfigurador/img-conf01.png" class="img-responsive margintop15p">
                    <div class="label fontImpact font24"> Configurador</div>
            </button>
            <button class="btn btn-default btn-lg btn-block btn-configurador hidden-xs">
                    <img src="assets/images/imgConfigurador/img-conf02.png" class="img-responsive margintop15p">
                    <div class="label fontImpact font24"> Configurador</div>
            </button>
      </div>
    </div>
  </div>
  <!-- Somente visivel em celulares e pequenos dispositivos -->
  <div class="row col-xs-12 hidden-lg hidden-md">
      <button class="btn btn-default btn-lg btn-block btn-configurador">
              <img src="assets/images/imgConfigurador/img-conf01.png" class="img-responsive margintop15p">
              <div class="label fontImpact font24"> Configurador</div>
      </button>
  </div>
