<section class="min-height">
    <div class="container">
        <h2>Treinamentos</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="hidden-xs">Descrição Treinamento</th>
                    <th class="hidden-xs">Data do Treinamento</th>
                    <th class="hidden-xs">Carga Horária</th>
                    <th class="text-center">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nome do Curso</td>
                    <td class="hidden-xs">Descrição Curso</td>
                    <td class="hidden-xs">12/08/2017</td>
                    <td class="hidden-xs">24 horas</td>
                    <td class="text-center"><a href="#"><i class="fa fa-external-link-square fa-2x iconDetalhes"></i></a></td>
                </tr>
                <tr>
                    <td>Nome do Curso</td>
                    <td class="hidden-xs">Descrição Curso</td>
                    <td class="hidden-xs">12/08/2017</td>
                    <td class="hidden-xs">24 horas</td>
                    <td class="text-center"><a href="#"><i class="fa fa-external-link-square fa-2x iconDetalhes"></i></a></td>
                </tr>
                <tr>
                    <td>Nome do Curso</td>
                    <td class="hidden-xs">Descrição Curso</td>
                    <td class="hidden-xs">12/08/2017</td>
                    <td class="hidden-xs">24 horas</td>
                    <td class="text-center"><a href="#"><i class="fa fa-external-link-square fa-2x iconDetalhes"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
