<section class="min-height">
    <div class="container">
        <h2>Treinamentos</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="hidden-xs">Título Treinamento</th>
                    <th class="hidden-xs">Descrição Treinamento</th>
                    <th class="hidden-xs">Data do Treinamento</th>
                    <th class="hidden-xs">Carga Horária</th>
                    <th class="text-center">Informações e Cadastro</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="treinamento in vm.listaTreinamentos">
                    <td class="hidden-xs">{{treinamento.treTitulo}}</td>
                    <td class="hidden-xs">{{treinamento.treTexto}}</td>
                    <td class="hidden-xs">{{treinamento.treData}}</td>
                    <td class="hidden-xs">{{treinamento.treCargaHoraria}}</td>
                    <td class="text-center"><a href="#"><i class="fa fa-external-link-square fa-2x iconDetalhes"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
